<table class="table table-bordered table-sm table-striped align-middle text-center">
    <thead class="table-light">
    <tr>
        <th class="text-start w-25">{{ 'sylius.ui.order_item_product'|trans }}</th>
        <th>{{ 'sylius.ui.unit_price'|trans }}</th>
        <th>{{ 'sylius.ui.item_discount'|trans }}</th>
        <th>{{ 'sylius.ui.distributed_order_discount'|trans }}</th>
        <th>{{ 'sylius.ui.discounted_unit_price'|trans }}</th>
        <th>{{ 'sylius.ui.quantity'|trans }}</th>
        <th>{{ 'sylius.ui.subtotal'|trans }}</th>
        <th>{{ 'sylius.ui.tax'|trans }}</th>
        <th>{{ 'sylius.ui.total'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item_form in form.children %}
        {% include '@SyliusAdminOrderCreationPlugin/SyliusAdminBundle/Order/Show/Summary/_item.html.twig' with {'item': order.items.get(loop.index0)} %}

        <tr class="item-discount">
            <td colspan="9" class="text-start">
                {{ form_row(item_form.adjustments) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% include '@SyliusAdminOrderCreationPlugin/SyliusAdminBundle/Order/Show/Summary/_totals.html.twig' %}
    </tfoot>
</table>
